@import '../../../../assets/branding/colors.scss';

button {
  height: 39px;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  font-size: 0.9em;
  border: 0;
  border-radius: 50px;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: center;
  cursor: pointer;
  transition: .15s;

  &.flat {
    background-color: $bright-blue;
    color: $white;
  }

  &.stroked {
    color: #333;
  }
}

fa-icon {
  font-size: 7px;
  margin-left: 1em;
}

button:hover {
  &.flat {
    background-color: $white;
    border-color: 1px solid $bright-blue;
    color: $bright-blue;
  }
}