<section>
  <div class="container">
    <div class="brand-header">
      <div class="brand-header__title">
        <h5>
          Featured Instant Coupons (200)
        </h5>
      </div>
      <div class="brand-header__actions">
        <button class="brand-header__actions--btn" [ngClass]="{ 'active': currentDisplayListView() === 'list' }"
          (click)="currentDisplayListView.set('list');">
          <fa-icon [icon]="faList"></fa-icon>
        </button>
        <button class="brand-header__actions--btn" [ngClass]="{ 'active': currentDisplayListView() === 'gallery' }"
          (click)="currentDisplayListView.set('gallery');">
          <fa-icon [icon]="faTableCells"></fa-icon>
        </button>
        <div class="brand-header__actions--filter">
          <select>
            <option value="" selected>SORT BY</option>
          </select>
        </div>
      </div>
    </div>
    @if (currentDisplayListView() === 'gallery') {
    <div class="gallery-view-wrapper">
      @for (coupon of paginatedItems[currentPage]; track coupon.description) {
      <div class="card">
        <app-brand-card-item [brandDescription]="coupon.description" [brandName]="coupon.nombreMarca"
          [logo]="coupon.imagen" [hasInstantCoupon]="coupon.hasInstantCoupon" [url]="coupon.idItem">
        </app-brand-card-item>
      </div>
      }
    </div>
    } @else {
    <div class="list-view-wrapper">
      @for (coupon of paginatedItems[currentPage]; track coupon.description) {
      <app-brand-list-item [brandDescription]="coupon.description" [brandName]="coupon.nombreMarca"
        [logo]="coupon.imagen" [hasInstantCoupon]="coupon.hasInstantCoupon" [url]="coupon.idItem">
      </app-brand-list-item>
      }
    </div>
    }
    <div class="pagination">
      <button class="pagination-button" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0"
        [ngClass]="{ 'disable': currentPage === 0 }">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>
      <span class="pagination-legend">Página {{ currentPage + 1 }} de {{ paginatedItems.length }}</span>
      <button class="pagination-button" (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === paginatedItems.length - 1"
        [ngClass]="{ 'disable': currentPage === paginatedItems.length - 1 }">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>
    </div>
    <div class="brand-footer">
      <a href="">
        MORE INSTANT COUPONS
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </a>
    </div>
  </div>
</section>