<section>
  <div class="container">
    <div class="title">
      <h3>
        Unlock the full power
      </h3>
    </div>
    <div class="card-wrapper">
      @for (coupon of couponsList(); track coupon.idItem) {
      <div class="card">
        <app-detail-card-item [brandLogo]="coupon.imagen" [brandImg]="coupon.imagen" [brandName]="coupon?.nombreMarca"
          [brandPromo]="coupon?.promo_marca">
        </app-detail-card-item>
      </div>
      }
    </div>
    <div class="detail-footer">
      <app-button [type]="'flat'" [title]="'Link Your card'" [icon]="'keyboard_arrow_right'"></app-button>
    </div>
  </div>
</section>